extends layout

block content
  .container
    <h2>Current forecast for [Melbourne]</h2>
    
    .weather-forecast  
      section#wfc.weather-forecast__current
      section#wfd.weather-forecast__daily